.card-img-top {

    width: 200px;
    height: 200px;
    display: flex !important;
    justify-content: center;

    img {

        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}